<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383070410348-rbrg3gm8feoivjan27n6akuh47h6teoo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383070410348-rbrg3gm8feoivjan27n6akuh47h6teoo</string>
	<key>API_KEY</key>
	<string>AIzaSyDlnYeNMQ6CSz3xuGoFpBOmRtj7jF9Y4RA</string>
	<key>GCM_SENDER_ID</key>
	<string>383070410348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.iasblog</string>
	<key>PROJECT_ID</key>
	<string>isblog-5f5ac</string>
	<key>STORAGE_BUCKET</key>
	<string>isblog-5f5ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383070410348:ios:2329cd46caa9e55805aa49</string>
</dict>
</plist>